<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="utf-8">
    <meta name="language" content="pt-br" />
    <meta http-equiv="Content-Language" content="pt-br" />
    <meta name="google-site-verification" content="IS_A9sXF6OH8UbLtWU0g9qs99oL8B3v-uOEF6-1d0dE" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="description" content="Cupons de desconto gratis para diversas lojas. Nike, Americanas, Submarino..." />
    <title> Cupom Parceiro | Os Melhores Cupons Grátis e Válidos </title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700' rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="scripts.js"> </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4D0PXKWFHV"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4D0PXKWFHV');
</script>
    <!-- Ezoic Code -->
    <script>var ezoicId = 372937; </script>
    <script type="text/javascript" src="//go.ezoic.net/ezoic/ezoic.js"></script>
    <!-- Ezoic Code -->
</head>
<body>
<header class="header">
    <nav class="center-menu">
        <a th:href="@{/}" class="logo">CupomParceiro</a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
            <li><a th:href="@{/}">Inicio</a></li>
            <li><a th:href="@{/lojas}">Lojas</a></li>
            <li><a th:href="@{/ajuda}">Ajuda</a></li>
        </ul>
    </nav>
</header>

<section class="d-flex justify-content-center">
    <div class="container container-top">
        <div class="row">

            <h1 class="less-bold medium"> Olá Seja <b> Bem-vindo! </b><b> Atualmente </b> temos <b> <th:block th:text="${qtdCoupon}"> 325 </th:block> cupons </b> disponíveis para uso. </h1>
            <h4> Principais <b> lojas </b> </h4>

            <th:block th:each="company : ${companyList}">
                <div class="col-sm">
                    <div class="card">
                        <a th:href="@{/lojas/} + ${company.uriSocialSoul}">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${company.nameCompany}">Nike</h5>
                                <img class="rounded mx-auto d-block" align='center' th:src="${company.urlImageIcon}" />
                            </div>
                        </a>
                    </div>
                </div>
            </th:block>
        </div>
        <div class="row">
            <div class="col"> <a th:href="@{/lojas}"> <button class="btn btn-outline-dark"> VER TODAS AS LOJAS </button> </a> </div>
        </div>

    </div>
</section>

<section class="d-flex justify-content-center">
    <div class="container container-top-mid">
        <div class="row">
            <h4> <p> <b> Melhores </b> cupons da semana! </p> </h4>
            <th:block th:each="coupon, i : ${couponList}">
                <div class="col-sm">
                    <div class="card text-center">
                        <a th:onclick="|showCode(document.getElementById('${coupon.id}').value)|" th:href="${coupon.linkCoupon}" target="_blank">
                            <div class="card-body">
                                <img class="rounded float-left" th:src="${coupon.company.urlImageIcon}" />
                                <h4 class="card-title" th:text="${coupon.description}" >12% de oferta para o dia dos pais</h4>
                                <p class="card-text">Valido até: <th:block th:text="${coupon.dateExpiration}"> </th:block> </p>
                                <input type="hidden" th:id="${coupon.id}" th:value="${coupon.codeCoupon}"/>
                                <a th:href="${coupon.linkCoupon}" target="_blank" rel="noopener noreferrer">
                                    <button th:onclick="|showCode(document.getElementById('${coupon.id}').value)|" class="btn btn-outline-dark"> PEGAR CUPOM </button>
                                </a>
                            </div>
                        </a>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</section>

<footer class="bg-dark text-center text-lg-start text-white">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright | E-mail: cupomparceirobrasil@hotmail.com
    </div>
    <!-- Copyright -->
</footer>

</body>
</html>